/* Estilos gerais para o container do editor */
.editor-container {
    display: flex;
    width: 30em;
}
.alt{
  margin-right: 15px;
  width: 30rem;
}
.box-questoes-sup{
  display: flex;
  margin: 2em;
}

  